<div class="ui-g">


  <at-statistic label="SELECTED" value="17" icon="fa-users" colour="#00ACAC" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>

  <at-statistic label="CONTACTED" value="12" icon="fa-phone" colour="#EFA64C" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>

  <at-statistic label="TESTED" value="8" icon="fa-flask" colour="#2F8EE5" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Remaining" value="4" icon="fa-hourglass-half" colour="#6C76AF" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>




</div>

<div class="ui-g">

  <p-panel header="L/Q Population - 5,965" class="ui-g-12 ui-md-6">
    <p-chart type="pie" [data]="hoursByProjectChartData"
    [options]="chartOptions"></p-chart>
  </p-panel>

  <p-panel header="Total Tests YTD - 1,059" class="ui-g-12 ui-md-6">
    <p-chart type="doughnut" [data]="hoursByProjectChartData2"></p-chart>
  </p-panel>

</div>

<div class="ui-g">

  <p-panel header="Populations Tested Ratio (percent)" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursByTeamChartData"></p-chart>
  </p-panel>

  <p-panel header="Daily Selected/Tested Ratio" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursByTeamChartDataMixed"></p-chart>
  </p-panel>

</div>

<!--<div class="ui-g">-->

  <!--<p-panel header="Hours By Team (radar)" class="ui-g-12 ui-md-6">-->
    <!--<p-chart type="radar" height="150" [data]="hoursByTeamChartData"></p-chart>-->
  <!--</p-panel>-->

  <!--<p-panel header="Hours By Team (mixed)" class="ui-g-12 ui-md-6">-->
    <!--<p-chart type="bar" [data]="hoursByTeamChartDataMixed" #mixedChart-->
    <!--(onDataSelect)="onDataSelect($event)"></p-chart>-->
  <!--</p-panel>-->

<!--</div>-->
