<p-panel header="Settings">

  <div class="ui-g">
    <label for="notify" class="ui-g-12 ui-md-3">Email To Notify:</label>
    <input id="notify" class="ui-g-12 ui-md-8" placeholder="Enter an Email Address to Receive Nightly Stat"
           type="email"/>
  </div>
  <div class="ui-g">
    <label for="notify" class="ui-g-12 ui-md-3">Default Sample Size:</label>
    <input id="notify" class="ui-g-12 ui-md-8" />
  </div>
  <div class="ui-g">
    <label for="notify" class="ui-g-12 ui-md-3"></label>
    <button id="backup" class="ui-g-12 ui-md-3">Save</button>
  </div>

  <!--<div class="ui-g">-->
    <!--<label for="statistic" class="ui-g-12 ui-md-2">Uptime Stats:</label>-->
    <!--<div id="statistic" class="ui-g-12 ui-md-10 ui-g-nopad">-->
      <!--<div class="icon ui-g-5">-->
        <!--<i class="fa fa-cloud-download"></i>-->
      <!--</div>-->
      <!--<div class="data ui-g-7">-->
        <!--<div class="value">20</div>-->
        <!--<div class="label">Days Uptime</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</p-panel>
